import(RSQLite,methods)

#import(UniProt.ws)

#import(biomaRt)
#import(ensembldb)
#
import( utils)
import(BiocFileCache)


export( "genConfig",
    "cmpIdMapping",
    "downloadChemblDb",
    "downloadUniChem",
    "drugTargetAnnot",
    "drugTargetAnnotTable",
    "drugTargetBioactivity",
    "getDrugTarget",
    "getParalogs",
    "getSymEnsUp",
    "getUniprotIDs",
    "runDrugTarget_Annot_Bioassay",
    "transformTTD",
    "processDrugage"

)
