import(RSQLite,methods)

#these two conflict on 'select', so make sure all calls are prefixed
import(UniProt.ws)
#import(dplyr)

import(biomaRt)
import(ensembldb)
#import(stats, utils)
import( utils)
import(BiocFileCache)


#exportPattern("^[[:alpha:]]+")
export( "genConfig",
    "cmpIdMapping",
    "downloadChemblDb",
    "downloadUniChem",
    "drugTargetAnnot",
    "drugTargetAnnotTable",
    "drugTargetBioactivity",
    "getDrugTarget",
    "getParalogs",
    "getSymEnsUp",
    "getUniprotIDs",
    "runDrugTarget_Annot_Bioassay",
    "transformTTD",
    "processDrugage"

)
