
import(RSQLite)
import(methods)

importFrom(UniProt.ws,UniProt.ws)

importFrom(biomaRt,useMart,getBM)

importFrom(ensembldb,genes,proteins)

import( utils)
import(BiocFileCache)


export( "genConfig",
    "cmpIdMapping",
    "downloadChemblDb",
    "downloadUniChem",
    "drugTargetAnnot",
    "drugTargetAnnotTable",
    "drugTargetBioactivity",
    "getDrugTarget",
    "getParalogs",
    "getSymEnsUp",
    "getUniprotIDs",
    "runDrugTarget_Annot_Bioassay",
    "transformTTD",
    "processDrugage"

)
